# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Caches
.cache/
*.log

# Python virtual environments
.venv/
env/
venv/

# macOS system files
.DS_Store

# Ignore everything in output folder
output/*

# Except CN.rsc and CN file in output folder
!output/CN.rsc
!output/CN

# GitHub Actions temp files or backups
*.bak
